@font-face {
    font-family: 'lemonmilk';
    src: url("fonts/LEMONMILK-Regular.otf") format("opentype");
}

body {

}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: brown;
}

p {
    text-align: start;
}

aside {

}

table {

}

header {

}

main {

}

footer {

}

form {

}

label {

}

input {

}